/* FONTS */
@font-face {
  font-family: "Utendo-Regular.ttf";
  src: url("../assets/fonts/Utendo-Regular.ttf");
}
@font-face {
  font-family: "";
  src: url("../assets/fonts/");
}
@font-face {
  font-family: "";
  src: url("../assets/fonts/");
}
@font-face {
  font-family: "";
  src: url("../assets/fonts/");
}
@font-face {
  font-family: "";
  src: url("../assets/fonts/");
}
@font-face {
  font-family: "";
  src: url("../assets/fonts/");
}
@font-face {
  font-family: "";
  src: url("../assets/fonts/");
}
/* BODY */
body {
  margin: 0;
  padding: 0;
  background-color: #DCEEF3;
  font-family: sans-serif;
  height: max-content;
}

/* HEADER */
nav {
  height: 100px;
  background-color: #A7D5E1;
  margin-top: 35px;
  width: 100%;
  border-radius: 10px;
  transform: scale(0.7);
  transition: transform 0.5s ease;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  border: 4px solid #004052;
  box-shadow: #004052 5px 5px;
}
nav .navLeft {
  width: 15%;
  display: flex;
  justify-content: left;
  padding-left: 10px;
  align-items: center;
}
nav .navLeft a {
  height: 80%;
  width: 70%;
  background-color: #004052;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.25s ease;
}
nav .navLeft a .icon {
  height: 35px;
  transition: 0.25s ease;
}
nav .navLeft a:hover {
  background-color: #002029;
  cursor: pointer;
}
nav .navLeft a:hover .icon {
  height: 45px;
}
nav .navMiddle {
  width: 45%;
  display: flex;
  align-items: center;
}
nav .navMiddle ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
nav .navMiddle ul li {
  font-weight: bold;
  text-shadow: #72BBCE 3px 3px;
  transition: 0.2s;
  position: relative;
  width: fit-content;
  display: inline-block;
  font-size: 23px;
}
nav .navMiddle ul li a {
  text-decoration: none;
  color: #004052;
}
nav .navMiddle ul li:hover {
  cursor: pointer;
}
nav .navMiddle ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #004052;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav .navMiddle ul li:hover::after {
  transform: scaleX(1);
}
nav .navRight {
  width: 20%;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
nav .navRight ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
  padding: 0;
}
nav .navRight ul li {
  font-size: 23px;
  list-style: none;
  position: relative;
}
nav .navRight ul li .languages {
  position: absolute;
  z-index: 999;
  background-color: #A7D5E1;
  box-shadow: #004052 5px 5px;
  width: 125px;
  height: 70px;
  gap: 20px;
  transform: scaleY(0);
  flex-direction: column;
  border-radius: 10px;
  border: solid 2px #004052;
  padding: 10px;
  font-weight: bold;
  color: #004052;
  transition: 0.2s;
  text-shadow: #72BBCE 3px 3px;
}
nav .navRight ul li .languages:hover > li {
  cursor: pointer;
}
nav .navRight ul li i {
  color: #004052;
}
nav .navRight ul li .fa-sun {
  color: #A7D5E1;
  display: none;
}
nav .navRight ul li .fa-bars {
  display: none;
}
nav .navRight ul li i:hover {
  cursor: pointer;
}
nav .navRight ul .languageIcon:hover .languages {
  transform: scaleY(1);
  transition: transform 0.25s ease;
}

nav.sticky {
  margin: 0;
  transform: scale(1);
  transition: 0.3s ease;
  border-radius: 0;
  position: fixed;
  border: 1px solid #004052;
  box-shadow: #72BBCE 5px 0px;
}
nav.sticky .navMiddle ul li {
  font-size: 20px;
}
nav.sticky .navRight ul li {
  font-size: 20px;
}

.burger-menu {
  width: 100dvw;
  height: 100dvh;
  z-index: 1000;
  background-color: #A7D5E1;
  transform: scaleY(0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: transform 0.25s ease;
  top: 0;
}
.burger-menu .fa-x {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 25px;
  color: #004052;
}
.burger-menu ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0;
  align-items: center;
}
.burger-menu ul li {
  list-style: none;
}
.burger-menu ul li a {
  font-size: 20px;
  font-weight: bold;
  color: #004052;
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 576px) {
  nav {
    justify-content: space-between;
  }
  nav .navLeft {
    width: 50%;
  }
  nav .navLeft .iconHolder {
    width: 55%;
  }
  nav .navMiddle {
    display: none;
  }
  nav .navRight {
    width: 40%;
  }
  nav .navRight ul {
    align-items: center;
  }
  nav .navRight ul li .fa-moon {
    display: none;
  }
  nav .navRight ul li .fa-language {
    display: none;
  }
  nav .navRight ul li .fa-bars {
    display: flex;
    font-size: 40px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }
  nav .navLeft {
    width: 50%;
  }
  nav .navLeft .iconHolder {
    width: 30%;
  }
  nav .navMiddle {
    display: none;
  }
  nav .navRight {
    width: 25%;
  }
  nav .navRight ul {
    align-items: center;
  }
  nav .navRight ul li .fa-moon {
    display: none;
  }
  nav .navRight ul li .fa-language {
    display: none;
  }
  nav .navRight ul li .fa-bars {
    display: flex;
    font-size: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .icon {
    height: 30px;
  }
}
/* MAIN */
/* RESPONSIVE */
/* FOOTER */
footer {
  position: relative;
  bottom: 0;
  margin-top: 400px;
  height: 30dvh;
  width: 100%;
  background-color: #A7D5E1;
  border: solid #004052;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .socials {
  width: 40%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
footer .socials i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #004052;
  text-shadow: #72BBCE 5px 5px;
}
footer .socials i:hover {
  cursor: pointer;
  color: #72BBCE;
  text-shadow: #004052 5px 5px;
  transform: scale(1.5);
  transition: transform 0.25s ease;
}

/* RESPONSIVE */
/* MAIN */
.mainHome {
  position: relative;
  top: 200px;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainHome .banner {
  height: 65dvh;
  width: 80dvw;
  margin: auto;
  display: flex;
  right: 10dvw;
  justify-content: space-between;
}
.mainHome .banner .bannerTagline {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 100px;
  color: #004052;
  text-shadow: #72BBCE 5px 5px;
  text-align: left;
  font-weight: bold;
}
.mainHome .banner .bannerImage {
  background-image: url("./../assets/image/bannerImage.jpeg");
  background-size: cover;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  border: 4px solid #004052;
  box-shadow: #72BBCE 15px 15px;
}
.mainHome .whatIsMolengeek {
  margin-top: 200px;
  background-color: #A7D5E1;
  width: 80dvw;
  height: 70dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  border-radius: 10px;
  border: 4px solid #004052;
  box-shadow: #72BBCE 15px 15px;
}
.mainHome .whatIsMolengeek .whatIsMolengeekTitle {
  font-size: 60px;
  font-weight: bold;
  color: #004052;
  text-shadow: #72BBCE 3px 3px;
}
.mainHome .whatIsMolengeek .whatIsMolengeekText {
  display: flex;
  justify-content: center;
  height: 60%;
  width: 100%;
  gap: 30px;
}
.mainHome .whatIsMolengeek .whatIsMolengeekText .whatIsMolengeekTextBox {
  width: 40%;
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #004052;
  text-shadow: #72BBCE 2px 2px;
  text-align: justify;
  line-height: 35px;
}
.mainHome .whatIsMolengeek .whatIsMolengeekText .whatIsMolengeekTextBox span {
  text-decoration: underline;
  font-size: 25px;
}
.mainHome .whatIsMolengeek .whatIsMolengeekText .whatIsMolengeekTextBox span:hover {
  cursor: pointer;
}
.mainHome .whatIsMolengeek .whatIsMolengeekText .whatIsMolengeekTextBox span:active {
  color: #72BBCE;
  text-shadow: #004052 3px 3px;
}
.mainHome .whatIsMolengeek .whatIsMolengeekText .whatIsMolengeekImage {
  border-radius: 10px;
  border: 4px solid #004052;
  box-shadow: #004052 7px 7px;
  width: 40%;
  height: 100%;
  background-image: url("./../assets/image/whatIsMolengeekImage.avif");
  background-size: cover;
}
.mainHome .partners {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  gap: 20px;
}
.mainHome .partners .partnersTitle {
  font-size: 60px;
  font-weight: bold;
  color: #004052;
  text-shadow: #72BBCE 3px 3px;
}
.mainHome .partners .partnersCarousel {
  height: 250px;
  width: 500px;
  border: 4px solid #004052;
  box-shadow: #72BBCE 15px 15px;
  border-radius: 10px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #A7D5E1;
}
.mainHome .contact {
  margin-top: 100px;
  display: flex;
  width: 80%;
  padding-top: 40px;
  height: 580px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #A7D5E1;
  border-radius: 10px;
  border: 4px solid #004052;
  box-shadow: #72BBCE 15px 15px;
}
.mainHome .contact .contactTitle {
  font-size: 60px;
  font-weight: bold;
  color: #004052;
  text-shadow: #72BBCE 3px 3px;
}
.mainHome .contact .contactInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.mainHome .contact .contactInfo .contactMap {
  width: 400px;
  height: 400px;
  border: 4px solid #004052;
  box-shadow: #72BBCE 15px 15px;
  border-radius: 10px;
  overflow: hidden;
}
.mainHome .contact .contactInfo .contactMap iframe {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.mainHome .contact .contactInfo .contactInformation {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: left;
}
.mainHome .contact .contactInfo .contactInformation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainHome .contact .contactInfo .contactInformation ul li {
  font-size: 30px;
  font-weight: bold;
  color: #004052;
  text-shadow: #72BBCE 3px 3px;
}
.mainHome .newsLetter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100px;
  margin-top: 100px;
}
.mainHome .newsLetter input {
  height: 40px;
  width: 400px;
  border: 2px solid #004052;
  box-shadow: #72BBCE 7px 7px;
  border-radius: 10px;
  background-color: #A7D5E1;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #004052;
  text-shadow: #72BBCE 3px 3px;
}
.mainHome .newsLetter input:focus {
  outline: 0;
}
.mainHome .newsLetter button {
  height: 46px;
  width: 46px;
  border: 2px solid #004052;
  box-shadow: #72BBCE 7px 7px;
  border-radius: 10px;
  background-color: #A7D5E1;
  color: #004052;
  font-weight: bold;
  transition: 0.2s ease;
}
.mainHome .newsLetter button:hover {
  color: #A7D5E1;
  background-color: #004052;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 576px) {
  .mainHome {
    top: 150px;
    right: 0dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
  }
  .mainHome .banner {
    width: 80%;
    margin: 0;
    gap: 20px;
    align-items: center;
    height: 70dvh;
    flex-direction: column;
  }
  .mainHome .banner .bannerTagline {
    justify-content: center;
    font-size: 30px;
  }
  .mainHome .banner .bannerImage {
    height: 50vh;
  }
  .mainHome .whatIsMolengeek {
    height: 130dvh;
    margin-top: 40px;
  }
  .mainHome .whatIsMolengeek .whatIsMolengeekTitle {
    font-size: 30px;
  }
  .mainHome .whatIsMolengeek .whatIsMolengeekText {
    flex-direction: column;
    align-items: center;
  }
  .mainHome .whatIsMolengeek .whatIsMolengeekText .whatIsMolengeekImage {
    width: 80%;
  }
  .mainHome .whatIsMolengeek .whatIsMolengeekText .whatIsMolengeekTextBox {
    font-size: 15px;
    line-height: 20px;
    width: 80%;
  }
  .mainHome .partners {
    width: 80dvw;
  }
  .mainHome .partners .partnersTitle {
    font-size: 30px;
  }
  .mainHome .partners .partnersCarousel {
    width: 80%;
  }
  .mainHome .contact {
    padding-top: 40px;
    height: 115dvh;
    width: 80dvw;
  }
  .mainHome .contact .contactTitle {
    font-size: 30px;
  }
  .mainHome .contact .contactInfo {
    flex-direction: column;
    align-items: center;
  }
  .mainHome .contact .contactInfo .contactInformation {
    align-items: center;
    height: 150px;
    gap: 10px;
    width: 80%;
    text-align: center;
  }
  .mainHome .contact .contactInfo .contactInformation ul li {
    font-size: 20px;
  }
  .mainHome .contact .contactInfo .contactMap {
    width: 80%;
  }
  .mainHome .newsLetter input {
    width: 200px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .mainHome {
    top: 150px;
    right: 0dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
  }
  .mainHome .banner {
    width: 100%;
    margin: 0;
    height: 30dvh;
    gap: 20px;
    align-items: center;
    height: 70dvh;
    flex-direction: column;
  }
  .mainHome .banner .bannerTagline {
    justify-content: center;
    font-size: 30px;
    width: 80%;
    height: 20%;
  }
  .mainHome .banner .bannerImage {
    height: 80%;
  }
  .mainHome .whatIsMolengeek {
    height: 120dvh;
    gap: 10px;
    margin-top: 40px;
  }
  .mainHome .whatIsMolengeek .whatIsMolengeekTitle {
    font-size: 30px;
  }
  .mainHome .whatIsMolengeek .whatIsMolengeekText {
    height: 80%;
    flex-direction: column;
    align-items: center;
  }
  .mainHome .whatIsMolengeek .whatIsMolengeekText .whatIsMolengeekImage {
    width: 80%;
    height: 100%;
  }
  .mainHome .whatIsMolengeek .whatIsMolengeekText .whatIsMolengeekTextBox {
    font-size: 15px;
    line-height: 20px;
    width: 80%;
    height: 30%;
  }
  .mainHome .partners .partnersCarousel {
    width: 80%;
  }
  .mainHome .contact {
    padding-top: 40px;
    height: 115dvh;
    width: 80dvw;
  }
  .mainHome .contact .contactTitle {
    font-size: 30px;
  }
  .mainHome .contact .contactInfo {
    flex-direction: column;
    align-items: center;
  }
  .mainHome .contact .contactInfo .contactInformation {
    align-items: center;
    height: 150px;
    gap: 10px;
    width: 80%;
    text-align: center;
  }
  .mainHome .contact .contactInfo .contactInformation ul li {
    font-size: 20px;
  }
  .mainHome .contact .contactInfo .contactMap {
    width: 80%;
  }
  input {
    width: 300px;
  }
}
/* MAIN */
.mainFormations {
  display: flex;
  height: 200dvh;
  flex-direction: column;
  align-items: center;
}
.mainFormations .formationsBanner {
  margin-top: 100px;
  height: 80dvh;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.mainFormations .formationsBanner .formationsBannerTagline {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 100px;
  color: #004052;
  text-shadow: #72BBCE 5px 5px;
  text-align: left;
  font-weight: bold;
}
.mainFormations .formationsBanner .formationsBannerImage {
  background-image: url("./../assets/image/formationsBanner.jpeg");
  background-size: cover;
  width: 50%;
  height: 80%;
  border-radius: 10px;
  border: 4px solid #004052;
  box-shadow: #72BBCE 15px 15px;
}
.mainFormations .nosFormations {
  display: flex;
  flex-direction: column;
}
.mainFormations .nosFormations .nosFormationsFilter {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.mainFormations .nosFormations .nosFormationsFilter button {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #004052;
  box-shadow: #72BBCE 5px 5px;
  background-color: #A7D5E1;
  font-weight: bold;
  color: #004052;
  font-size: 17px;
  transition: 0.2s ease;
}
.mainFormations .nosFormations .nosFormationsFilter button:hover {
  cursor: pointer;
  color: #A7D5E1;
  background-color: #004052;
}

/* RESPONSIVE */

/*# sourceMappingURL=app.css.map */
